body {
  background: grey;
}

.calc {
  display: block;
  border: 1px solid grey;
  border-radius: 10px;
  width: 35%;
  margin: 20px auto;
  text-align: center;
  background: #f2f9f2;
}

@media screen and (max-width: 865px) {
  .calc {
    width: 100%;
  }
}

.calc__name {
  font-size: 2em;
  margin: 10px;
}

.input-number {
  width: 10%;
  text-align: center;
  border-radius: 8px;
  margin: 10px;
}

.calc__text-operation {
  font-size: 1.4em;
  margin-top: 20px;
}

.calc__buttons {
  margin: 20px;
  padding: 5px 14px;
  border-radius: 8px;
  background: #e1e1e1;
  font-size: 1.3em;
}

@media screen and (max-width: 968px) {
  .calc__buttons {
    margin: 16px;
  }
}
